#main-window #TabsToolbar {
    height: 40px !important;
    overflow: hidden;
    transition: height .3s .3s !important;
}

#main-window[titlepreface*=" "] #TabsToolbar {
    height: 0 !important;
}

#main-window[titlepreface*=" "] #tabbrowser-tabs {
    z-index: 0 !important;
}

#sidebar-header {
	display: none;
}

#main-window #titlebar {
  overflow: hidden;
  transition: height 0.3s 0.3s !important;
}

/* Dynamically show tabs bar based on if Sidebery is active */

/* Default state: Set initial height to enable animation */
#main-window #titlebar { height: 3em !important; }
#main-window[uidensity="touch"] #titlebar { height: 3.35em !important; }
#main-window[uidensity="compact"] #titlebar { height: 2.7em !important; }
/* Hidden state: Hide native tabs strip */
#main-window[titlepreface*="​"] #titlebar { height: 0 !important; }
/* Hidden state: Fix z-index of active pinned tabs */
#main-window[titlepreface*="​"] #tabbrowser-tabs { z-index: 0 !important; }

/* Reduce min width of sidebar */
#sidebar-box {
  min-width: 100px !important;
}